*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0ch;
}
#sidebar{
    background-color: aqua;
    margin: 5px;
}
#menu-items{
    font-size: 20px;
    list-style: none;
}
#menu-items li{
    padding: 5px;
    border-bottom: 2px solid #fff;
}
#main{
    margin: 5px;
    background-color: bisque;
}
#main h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#main p{
    border-bottom: 2px solid #fff;
    text-indent: 10px;
}
@media screen and (min-width: 1280px){
    #wrapper{
        display: flex;
       
    }
    #sidebar{
        width: 30%;

    }
    #main{
        width: 70%;
        
    }
}
@media screen and (min-width: 2560px){
    #wrapper{
        display: flex;
       gap: 20px;
    }
    #sidebar{
        width: 30%;
    }
    #main{
        
        width: 70%;
    }
    
}